.App {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Arial";
}

.navigation h1{
  font-weight: bold;
  font-size: 36px;
  margin: 0;
  padding: 0;
}


.button_sort{
  margin: 10px;
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 10px;
  background: rgb(64,199,129);
  box-shadow: 0 -3px rgb(53,167,110) inset;
  transition: 0.2s;
}
.button_sort:hover { background: rgb(53, 167, 110); }
.button_sort:active {
  background: rgb(33,147,90);
  box-shadow: 0 3px rgb(33,147,90) inset;
}

.picture{
  display: grid;
  grid-template-columns: 400px 400px;
}

.navigation{
  text-align: center;
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.8);
}